{{!-- <p>MeetMe@ : {{name}}</p>
<p>Link to Your Directions: <a href="{{directionLink}}">Google Maps Directions</a></p>


<p>Your MeetMe@ Team</p>

<img src="../../public/src/assets/meet-me-email.png" width="50"> --}}
<div class="header">
    <p>MeetMe@ : {{name}}</p>
</div>
<div class="body">
    <p>Link to Your Directions: <a href="{{directionLink}}">Google Maps</a></p>
</div>
<div class="footer">
    <p>Your MeetMe@ Team</p>
</div>

